{% load static %}

<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Elternbrief - {% block title %}Startseite{% endblock %}</title>

    <link rel="icon" type="image/svg+xml" href="{% static 'letters/icon.svg' %}" sizes="any"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'letters/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'letters/favicon-16x16.png' %}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat&display=swap">
    <link rel="stylesheet" href="{% static 'letters/custom.css' %}">

    <script type="module" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.js"></script>

    {# Block for extra head code that only some pages need #}
    {% block head_extra %}
    {% endblock %}
</head>

<body>

{# Simple Navbar #}
{% block navbar %}
    <nav class="navbar navbar-expand-sm sticky-top navbar-dark bg-primary shadow-lg">
        {# Start page #}
        {% if request.path == '/' %}
            <a href="{% url 'letters:index' %}" class="navbar-brand">
                <img class="align-text-top d-inline-block" height="20px" src="{% static 'letters/icon_white.svg' %}"
                     alt="Elternbrief Logo">Startseite
            </a>
        {% else %}
            <a href="{% url 'letters:index' %}" class="navbar-brand">
                <img src="{% static 'letters/icon_white.svg' %}" alt="Elternbrief Logo" class="align-text-top default"
                     height="20px">
                <img src="{% static 'letters/icon.svg' %}" alt="Elternbrief Logo" class="align-text-top hover"
                     height="20px">
                Startseite
            </a>
        {% endif %}

        {# Collapse toggler #}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Navigation anzeigen">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                {# Letters index #}
                {% if '/letters/' in request.path %}
                    <li class="nav-item active">
                        <a href="{% url 'letters:letters' %}" class="nav-link">Elternbriefe</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{% url 'letters:letters' %}" class="nav-link">Elternbriefe</a>
                    </li>
                {% endif %}
            </ul>

            {# Login #}
            {% if request.user.is_authenticated %}
                {# If the user is logged in, show their username and a logout button in a dropdown menu #}
                <div class="dropdown">
                    <a class="btn btn-outline-light dropdown-toggle" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user.username }}
                        <ion-icon class="align-text-top" name="person-circle"></ion-icon>
                    </a>
                    <div class="dropdown-menu dropdown-menu-sm-right" aria-labelledby="navbarDropdown">
                        {% if request.user.is_staff %}
                            <a href="{% url 'letters:user_import' %}" class="dropdown-item btn" role="button">
                                Nutzer-Import
                                <ion-icon class="align-text-top" name="people"></ion-icon>
                            </a>
                        {% endif %}
                        <a href="{% url 'letters:logout' %}" class="dropdown-item btn" role="button">
                            Ausloggen
                            <ion-icon class="align-text-top" name="log-out"></ion-icon>
                        </a>
                    </div>
                </div>
            {% else %}
                {# If user is not logged in, show login form: #}
                <div class="dropdown">
                    <a class="btn btn-outline-light dropdown-toggle" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Login
                        <ion-icon name="log-in" class="align-text-top"></ion-icon>
                    </a>
                    <div class="dropdown-menu dropdown-menu-sm-right">
                        <form class="px-4 py-3" action="{% url 'letters:login' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="LoginFormUsername">Nutzername</label>
                                <input type="text" class="form-control" name="LoginFormUsername" id="LoginFormUsername"
                                       placeholder="Nutzer">
                            </div>
                            <div class="form-group">
                                <label for="LoginFormPassword">Passwort</label>
                                <input type="password" class="form-control" name="LoginFormPassword"
                                       id="LoginFormPassword" placeholder="Passwort">
                            </div>
                            <button type="submit" class="btn btn-primary">Einloggen</button>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
    </nav>
{% endblock %}

{# Display notifications #}
{% block messages %}
    <div class="container-fluid" style="position: fixed; z-index: 1">
        <div class="row justify-content-center">
            <div class="col-10 col-md-8 col-lg-6">
                {% for message in messages %}
                    {% if "error" in message.tags %}
                        <div class="alert alert-danger alert-dismissible fade show shadow mt-2" role="alert"
                             aria-live="assertive" aria-atomic="true">
                            <ion-icon class="align-text-bottom" name="alert-circle" size="large"></ion-icon>
                            <strong>Fehler!</strong>
                            {{ message }}
                            <button class="close" type="button" aria-label="Close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% elif "warning" in message.tags %}
                        <div class="alert alert-warning alert-dismissible fade show shadow mt-2" role="alert"
                             aria-live="assertive" aria-atomic="true">
                            <ion-icon class="align-text-bottom" name="warning" size="large"></ion-icon>
                            <strong>Fehler!</strong>
                            {{ message }}
                            <button class="close" type="button" aria-label="Close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% elif "success" in message.tags %}
                        <div class="alert alert-success alert-dismissible fade show shadow mt-2" role="alert"
                             aria-live="assertive" aria-atomic="true">
                            <ion-icon class="align-text-bottom" name="checkmark-circle" size="large"></ion-icon>
                            <strong>Fehler!</strong>
                            {{ message }}
                            <button class="close" type="button" aria-label="Close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% else %}
                        <div class="alert alert-info alert-dismissible fade show shadow mt-2" role="alert"
                             aria-live="assertive" aria-atomic="true">
                            <ion-icon class="align-text-bottom" name="information-circle" size="large"></ion-icon>
                            <strong>Fehler!</strong>
                            {{ message }}
                            <button class="close" type="button" aria-label="Close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

{% block content %}
{% endblock %}

{# Additional JS #}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

{% block script-extra %}
{% endblock %}

</body>
</html>