{% extends 'letters/base.html' %}
{% load static %}

{% block title %}{{ letter }}{% endblock %}

{% block head_extra %}
    <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2.1.266/build/pdf.min.js"></script>
{% endblock %}

{% block content %}
    <section class="page-content">

        {# Actual content: #}
            <p>Sie betrachten diesen Brief gerade für den Schüler <b>{{ student }}.</b></p>
            {% if response and letter.confirmation %}
                <p>
                    <i class="fa fa-check-circle" style="color: #4caf50;"></i>
                    Sie haben diesen Brief bereits am {{ response.response_date }} bestätigt.
                </p>
            {% endif %}

            <div class="letter-detail w3-card-4 w3-round">

                <header class="w3-container w3-theme-d2 w3-left-align w3-round">
                    <h1>{{ letter }}</h1>
                </header>

                <p><b>Veröffentlichungsdatum:</b> {{ letter.date_published }}</p>

                {% if letter.date_due %}
                    <p><b>Fällig bis:</b> {{ letter.date_due }}</p>
                {% endif %}

                {% if letter.teacher %}
                    <p><b>Zuständige Lehrkraft:</b> {{ letter.teacher }}</p>
                {% endif %}

                <p><b>Muss {% if not letter.confirmation %}nicht {% endif %}bestätigt werden.</b>
                    <i class="fa fa-info-circle"></i></p>

{#                <div class="w3-container" id="canvas">#}
{#                    <embed src="{{ letter.document.url }}" type="application/pdf" width="100%" height="800px"/>#}
{#                </div>#}
                <button class="w3-btn w3-theme-d2 w3-margin"><a class="pdf-link" href="{{ letter.document.url }}" target="_blank">Download</a></button>

                <canvas class="pdf-canvas w3-round w3-border" width="100%" height="100%"></canvas>

                {# Section for responding to a letter: #}
                {% if not response and letter.confirmation %}
                    <form action="{% url 'letters:letter_confirm' student.id letter.id %}" method="post">
                        {% csrf_token %}
                        <h3>Diesen Brief bestätigen:</h3>

                        {% for field in text_fields %}
                            <p>{{ field.description }}: {% if not field.optional %}
                                <i class="fa fa-asterisk w3-tiny"></i>{% endif %}</p>
                            <input class="w3-input w3-border w3-round w3-margin-bottom" type="text"
                                   name="{{ field.name }}" id="{{ field.name }}">
                        {% endfor %}

                        {% for field in bool_fields %}
                            <input class="w3-check w3-margin-top w3-margin-bottom" type="checkbox"
                                   name="{{ field.name }}" id="{{ field.name }}">
                            <label>{{ field.description }} {% if field.must_be_true %}
                                <i class="fa fa-asterisk w3-tiny"></i>{% endif %}</label>
                        {% endfor %}

                        {% for field in selection_fields %}
                            <p>{{ field.description }}: <i class="fa fa-asterisk w3-tiny"
                                                                                 style="color: red"></i></p>
                            <select class="w3-select w3-round" name="{{ field.name }}" id="{{ field.name }}">
                                <option value="" disabled selected>Bitte auswählen:</option>
                                {% for option in field.options_list %}
                                    <option value="{{ option }}">{{ option }}</option>
                                {% endfor %}
                            </select>
                        {% endfor %}

                        <p class="w3-margin"><i class="fa fa-asterisk w3-small"></i> Markiert
                            Pflichtfelder.</p>

                        <button class="w3-btn w3-theme-d2 w3-margin" type="submit"><i class="fa fa-check"></i>
                            Bestätigen
                        </button>
                    </form>
                {% endif %}

            </div>

    </section>
{% endblock %}

{% block script %}
    <script src="{% static 'letters/view-pdf.js' %}"></script>
{% endblock %}