{% extends "letters/base.html" %}

{% load letters_extras %}

{% block title %}Übersicht{% endblock %}

{% block content %}

    <div class="row justify-content-center mt-5">
        <div class="col-lg-4 col-md-6 col-sm-8 col-10 text-center">
            <p>Folgende Elternbriefe liegen vor:</p>

            <div class="card shadow">
                <h3 class="card-header bg-primary text-light">Eigene Elternbriefe:</h3>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {% for letter in letters %}
                            <li class="list-group-item">
                                <a href="{% url 'letters:letter_result' letter.pk %}">{{ letter }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}