{% extends 'letters/base.html' %}
{% load static %}

{% block title %}{{ letter }}{% endblock %}

{% block head_extra %}
    <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2.1.266/build/pdf.min.js"></script>
{% endblock %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-lg-4 col-md-6 col-sm-8 col-10 text-center">
            <p>Sie betrachten diesen Brief gerade für den Schüler <b>{{ student }}</b>.</p>
            {% if response and letter.confirmation %}
                <p>
                    <ion-icon name="checkmark-done"></ion-icon>
                    Sie haben diesen Brief bereits am {{ response.response_date }} bestätigt.
                </p>
            {% endif %}

            <div class="card shadow text-left">
                <h3 class="card-header bg-primary text-light text-center">{{ letter }}</h3>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            Veröffentlichungsdatum: <b>{{ letter.date_published }}</b>
                        </li>
                        {% if letter.date_due %}
                            <li class="list-group-item">
                                Fällig bis: <b>{{ letter.date_due }}</b>
                            </li>
                        {% endif %}
                        {% if letter.teacher %}
                            <li class="list-group-item">
                                Zuständige Lehrkraft: <b>{{ letter.teacher }}</b>
                            </li>
                        {% endif %}
                        {% if letter.confirmation %}
                            <li class="list-group-item">
                                Muss bestätigt werden.
                                <ion-icon name="information-circle"></ion-icon>
                            </li>
                        {% else %}
                            <li class="list-group-item text-muted">
                                Muss nicht bestätigt werden.
                                <ion-icon name="information-circle"></ion-icon>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="card-body">
                    <canvas class="pdf-canvas" width="100%" height="100%"></canvas>
                </div>
                <div class="card-body text-center">
                    <a href="{{ letter.document.url }}" class="card-link pdf-link" target="_blank">
                        <ion-icon name="download"></ion-icon>
                        Download
                    </a>
                </div>
                {% if not response and letter.confirmation %}
                    <div class="card-body">
                        <hr>
                        <form action="{% url 'letters:letter_confirm' student.id letter.id %}" method="post">
                            {% csrf_token %}
                            <h5>Diesen Brief bestätigen:</h5>

                            {% for field in text_fields %}
                                <div class="form-group my-3">
                                    <label for="{{ field.name }}">
                                        {{ field.description }}
                                        {% if not field.optional %}
                                            <ion-icon class="text-danger" name="alert"></ion-icon>
                                        {% endif %}
                                    </label>
                                    <input type="text" class="form-control" id="{{ field.name }}"
                                           name="{{ field.name }}">
                                </div>
                            {% endfor %}

                            {% for field in bool_fields %}
                                <div class="form-check my-3">
                                    <input type="checkbox" class="form-check-input" value="" id="{{ field.name }}"
                                           name="{{ field.name }}">
                                    <label for="{{ field.name }}" class="form-check-label">
                                        {{ field.description }}
                                        {% if field.must_be_true %}
                                            <ion-icon class="text-danger" name="alert"></ion-icon>
                                        {% endif %}
                                    </label>
                                </div>
                            {% endfor %}

                            {% for field in selection_fields %}
                                <div class="form-group my-3">
                                    <label for="{{ field.name }}">
                                        {{ field.description }}
                                        <ion-icon class="text-danger" name="alert"></ion-icon>
                                    </label>
                                    <select name="{{ field.name }}" id="{{ field.name }}" class="form-control">
                                        <option value="" disabled selected>Bitte auswählen:</option>
                                        {% for option in field.options_list %}
                                            <option value="{{ option }}">{{ option }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            {% endfor %}

                            <p>
                                <ion-icon class="text-danger" name="alert"></ion-icon>
                                markiert Pflichtfelder.
                            </p>

                            <button class="btn btn-primary" type="submit">
                                <ion-icon name="checkmark-done"></ion-icon>
                                Bestätigen
                            </button>
                        </form>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}

{% block script-extra %}
    <script src="{% static 'letters/view-pdf.js' %}"></script>
{% endblock %}