{% extends "letters/base.html" %}

{% load letters_extras %}

{% block title %}Übersicht{% endblock %}

{% block content %}

    <div class="row justify-content-center mt-5">
        <div class="col-lg-4 col-md-6 col-sm-8 col-10 text-center">
            <p>Folgende Elternbriefe liegen vor:</p>

            {% for child in children_list %}
                <div class="card shadow my-2">
                    <h3 class="card-header bg-primary text-light">{{ child }}</h3>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            {% with child_id=child.id %}
                                {% for letter in letters|get_item:child_id %}
                                    <li class="list-group-item">
                                        <a href="{% url 'letters:letter_detail' child.pk letter.pk %}">
                                            {% if not child in letter.students_viewed.all %}
                                                <ion-icon name="warning"></ion-icon>
                                            {% endif %} {{ letter }}
                                        </a>
                                    </li>
                                {% endfor %}
                            {% endwith %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}