{% load static %}

<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Elternbrief - {% block title %}Startseite{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/lib/w3-theme-indigo.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        body, h1, h2, h3, h4, h5, h6 {font-family: 'Open Sans', sans-serif}
    </style>
</head>

<body>

{# Just a simple navbar. Buttons have different colors if they link to the current page. #}
{% block navbar %}
    <div class="w3-top">
        <div class="w3-bar w3-card w3-large w3-left-align w3-theme">
            {% if request.path == '/' %}
                <a href="{% url 'letters:index' %}" class="w3-bar-item w3-button w3-theme-l1"><i
                        class="fa fa-home w3-margin-right"></i>Startseite</a>
            {% else %}
                <a href="{% url 'letters:index' %}" class="w3-bar-item w3-button"><i
                        class="fa fa-home w3-margin-right"></i>Startseite</a>
            {% endif %}

            {% if '/letters/' in request.path %}
                <a href="{% url 'letters:letters' %}" class="w3-bar-item w3-button w3-theme-l1">Elternbriefe</a>
            {% else %}
                <a href="{% url 'letters:letters' %}" class="w3-bar-item w3-button">Elternbriefe</a>
            {% endif %}

            {% block login %}
                {% if request.user.is_authenticated %}
                    {# If the user is logged in, show their username and a logout button in a dropdown menu #}
                    <div class="w3-dropdown-hover w3-right">
                        <button class="w3-button" style="width:125px"><i class="fa fa-user"></i> {{ user.username }}
                        </button>
                        <div class="w3-dropdown-content w3-bar-block w3-card-4">
                            <a href="{% url 'letters:logout' %}" class="w3-bar-item w3-button"><i
                                    class="fa fa-sign-out"></i> Ausloggen</a>
                        </div>
                    </div>
                {% else %}
                    <a href="{% url 'letters:login' %}" class="w3-bar-item w3-button w3-right w3-hover-white"><i
                            class="fa fa-user-circle"></i> Login</a>
                {% endif %}
            {% endblock %}

        </div>
    </div>
{% endblock %}

{# Display any kind of error message passed by a view in a fancy red box. #}
<div class="w3-container w3-padding-64 w3-center" id="main">
    {% if messages %}
        {% for message in messages %}
            <div class="w3-panel w3-red">
                <h2>Fehler!</h2>
                <p>{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock %}
</div>

</body>
</html>