{% extends "letters/base.html" %}

{% load letters_extras %}

{% block title %}Übersicht{% endblock %}

{% block content %}
    <div class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content w3-center">
            <p>Folgende Elternbriefe liegen vor:</p>

            {% for child in children_list %}
                <div class="w3-card w3-margin">
                    <header class="w3-container w3-theme">
                        <h2>{{ child }}</h2>
                    </header>
                    <div class="w3-container">
                        {% with child_id=child.id %}
                            {% for letter in letters|get_item:child_id %}
                                <p><a href="{% url 'letters:letter_detail'  letter.pk %}">{{ letter }}</a></p>
                            {% endfor %}
                        {% endwith %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}