{% extends "letters/base.html" %}

{% load letters_extras %}

{% block title %}Übersicht{% endblock %}

{% block content %}

    <div class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content w3-center">
            <p>Folgende Elternbriefe liegen vor:</p>

            <div class="w3-card w3-margin w3-round">
                <header class="w3-container w3-theme w3-round">
                    <h2>Eigene Elternbriefe:</h2>
                </header>
                <div class="w3-container">
                    {% for letter in letters %}
                        <p><a href="{% url 'letters:letter_result' letter.pk %}">{{ letter }}</a></p>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>

{% endblock %}