body {
    font-family: sans-serif;
}

h1, h2, .w3-bar, button {
    font-family: 'Montserrat', sans-serif;
}

/* CSS for changing the logo in the navbar when hovering over it */
.navbar-logo img {
    margin-right: 8px;
}

.navbar-logo img.hover {
    display: none;
}

.navbar-logo img.default {
    display: inherit;
}

.navbar-logo:hover img.hover {
    display: inherit;
}

.navbar-logo:hover img.default {
    display: none;
}

/* CSS for different notification boxes */
div.message-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

message.error {
    background-color: #f44336;
    color: white;
}

message.warning {
    background-color: #ffeb3b;
    color: black;
}

message.success {
    background-color: #4caf50;
    color: white;
}

message.info {
    background-color: #2196f3;
    color: white;
}

message.message {
    position: fixed;
    margin-top: 50px;
}

/* Do not show underline effect when hovering over links */
a:hover {
    text-decoration: none;
}

section.page-content {
    padding: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styles for the letter detail page */

div.letter-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.letter-detail header {
    align-self: stretch;
}

.letter-detail > p, form{
    margin: 20px;
}

.pdf-canvas {
    margin: 10px;
}

.pdf-link {
    text-decoration: none;
}

.fa-asterisk {
    color: red;
}

/* Styles for the letter index page */

.child-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.child-card > header {
    padding-left: 64px;
    padding-right: 64px;
    margin-bottom: 20px;
}

.child-card > a {
    margin-bottom: 10px;
}